/*COMPORTAMENTO BASE: MOBILE-FIRST*/
.loginWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  background-color: var(--bg-dark-right);
  overflow-y: auto; 
}

/* Su mobile */
.heroPanel {
  display: none;
}

/* form su mobile */
.formPanel {
  width: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  padding: 2rem 1.5rem; 
  box-sizing: border-box;
}

/* Contenitore interno */
.formInnerContainer {
  width: 100%;
  max-width: 400px;
}

/* Colorazione del testo del Brand o link viola */
.brandPurpleText {
  color: var(--brand-purple);
}

/* Elementi dell'interfaccia */
.stepBadge {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.customNavPills {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.customCheckbox {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
}


/*MEDIA QUERY: DESKTOP (Da 992px in su) */
@media (min-width: 992px) {
  .loginWrapper {
    flex-direction: row;
    height: 100vh;
    overflow: hidden; 
  }

  /* Pannello Sinistro*/
  .heroPanel {
    display: flex; 
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    box-sizing: border-box;
  }

  /* Pannello Destro */
  .formPanel {
    flex: 1;
    height: 100%;
    align-items: center;
    padding: 1.5rem;
  }

  .heroDescription {
    max-width: 440px;
  }
}