.screenContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0d0e12;
}

.rightContentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.pageDynamicArea {
  flex: 1;
  padding: 2rem;
  background-color: #0d0e12;
}

/*Burger menu*/
.custom-mobile-offcanvas {
  width: 280px !important;
  background-color: #0f1114 !important;
  border-right: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.mobile-close-btn {
  padding: 0.5rem !important;
  font-size: 0.9rem !important;
}

.custom-mobile-offcanvas {
  width: 280px !important;
  background-color: #0f1114 !important; /* Colore scuro identico alla sidebar desktop */
  border-right: 1px solid rgba(255, 255, 255, 0.05) !important;
  box-shadow: none !important;
}

.mobile-sidebar-body {
  background-color: #0f1114 !important;
}

.mobile-sidebar-body .navbarSearchWrapper {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.mobile-close-btn {
  padding: 0.5rem !important;
  font-size: 0.9rem !important;
  box-shadow: none !important;
}