.modalContent {
  background-color: #1a1d20 !important;
  color: #ffffff !important;
  border: 1px solid #343a40 !important;
}

.modalHeader {
  border-bottom: 1px solid #343a40 !important;
}

.modalFooter {
  border-top: 1px solid #343a40 !important;
}

.description {
  color: #adb5bd;
}

.label {
  color: #f8f9fa;
}